.box1{
  background: red;
  position: absolute;
  border: 20px;
  width:50px;
  height:50px;
  top:10px;
  left:10px;
  border radius: 50%;
}
.box2{
  background: green;
  position:absolute;
  width:50px;
  height:50px;
  bottom:20px;
  left:20px;
}
.box3{
  background: purple;
  position: absolute;
  width:50px;
  height:50px;
  bottom:20px;
  right:20px;
}
.box4{
  background: yellow;
  position: absolute;
  width:50px;
  height:50px;
  top:20px;
  right:20px;
}
.circle{
  background:blue;
  position:absolute;
  width:50px;
  height:50px;
  top:50%;
  left:50%;
  margin-top:-25px;
  margin-left:-25px;
  border-radius: 50%;
  animation:move 2s 10;
}
@keyframes move{
  from {left:0%}
  to {left:100%}
}
@media screen and (max-width: 480px){
  .circle{
 background:pink;
  position:absolute;
  width:50px;
  height:50px;
  top:50%;
  left:50%;
  margin-top:-25px;
  margin-left:-25px;
  border-radius: 50%;
  }
}
